<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
>
<head>
    <style>
        a:link{text-decoration: none}
    </style>
    <meta charset="UTF-8">
</head>
<body>
<!--<div th:replace="~{fragments/header::header}"></div>-->
<a th:href="@{/admin/}">返回</a>
<h3 th:text="${userModel.title}"></h3>

<form action="/Administration" th:action="@{/admin}" method="POST"
      th:object="${userModel.users}" th:align="center"  th:width="500px">
    <input  type="hidden" name="id" th:value="*{id}">
    文章标题：<br>
    <input  style="width: 350px;height: 20px; "  type="text" name="title" th:value="*{title}"><br>
    内容：<br><input  style="width: 350px ;height: 20px;"type="text" name="content" th:value="*{content}"><br>
    标签：<br><input  style="width: 350px ;height: 20px;"type="text" name="tags" th:value="*{tags}"><br>
    <input type="submit" style="width: 100px" value="提交" >
</form>
</body>
</html>